.window {
    max-width: 800px;
    min-height: 800px;
    position: relative;
    top: 100px;
    left: calc(50vw - 400px);
    border-radius: 12px;
}

.content {
    background-color: rgb(255, 204, 153);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.header {
    background-color: rgb(255, 204, 153);
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
    border-color: rgb(255, 204, 204);
}

.card {
    margin-right: 10px;
    flex-basis: 2%;
    size: 16px;
    background-color: rgb(255, 204, 153)
}

.task-name {
    flex-basis: 95%;
    margin-right: 10px;
    margin-top: 8px;
    background-color: rgb(255, 204, 153)
}

.cross-button {
    flex-basis: 3%;
    height: 22px;
    padding: 2px;
    background-color: rgb(255, 204, 153);
    color: grey;
    cursor: pointer;
}

.cross-button:hover {
    color: black;
    border-radius: 50%;
    background-color: rgba(238, 139, 40, 0.45);
}

.scrollable {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.explaination {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 10px;
    flex-basis: 65%;
    background-color: rgb(255, 204, 153);
}

.other-feature {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 10px;
    flex-basis: 25%;
}

.pomodoro-title {
    text-align: center;
}

.pomodoro-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

