
.board-list {
    min-width: 250px;
    display: inline-flex;
    flex-direction: column;
    margin: 14px;
    box-shadow: 3px 3px;
    padding: 10px;
    border-radius: 12px; 
}

h4 {
    color: black;
    height: 50px;
}