.new-task {
    background-color: lightgrey; 
    border: 1px solid silver;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    height: 40px;
}

.new-task:hover {
    background-color: silver;
    box-shadow: 2px 2px;
}

.new-task:active {
    margin-top: 2px;
    margin-bottom: 2px;
}